html {
    scroll-behavior: smooth;
  }
.logo{
    color: #19655b;
}
.navbar ul li{
    font-size: 28px;
    font-weight: bold;
    
}
.navbar-scroll {
    transition: background-color 0.3s ease-in-out;
    background-color: #19655b
  }

.about{
    padding-top: 50px;
}
.about img{
    max-width: 100%;
}
.about .text h1{

    font-weight: bold;
    color: #19655b;
}

.about .text p{
    font-size: 22px;
    line-height: 1.9;
    font-weight: bold;

}
/* end about */
/* start products */

.products{
    padding-top: 50px;
    background-color: #ececec;
    height:auto
}
.products .title{
    color: #19655b;
    font-weight: bold;
    margin-bottom: 50px;

}
.products img{
max-width: 100%;
transition:  0.3s; 
height: auto;
}
.products .box:hover img{
opacity: .8;
transform: scale(1.1);
}
.products .box{
    position: relative;
    transition:  0.3s; 
    margin-bottom: 30px;
    width: 95%;
    text-align: center;
    margin-left: 5px;
    overflow: hidden;
    border-radius: 5px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; /* Text color */
    font-size: 35px; /* Text size */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth fade effect */
    font-weight: bold;
}
.products .box:hover .overlay{
    opacity: 1;
}
@media (max-width: 820px) {
    .products .box .overlay{
        opacity: 1;
        color: #ececec;
    }
    .products .box .overlay .colr{
        opacity: 1;
        color:black;
    }
    .products .box img{
        opacity: .8;
        }
        .products .box:hover img{
            transform: scale(1.1);
            }
    
}


/*  end products */

/* start contact */
.contact .title{
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
    color: #19655b;
}
.contact{
    padding: 50px 0;
    padding-bottom: 50px;
   
}
.contact i{
    font-size: 45px;
    color: #19655b;
}
.contact .data{
    font-size: 25px;
}
.contact .order{
margin-top: 50px;
font-size: 20px;
padding: 7px 15px;
border: 2px solid #19655b;
width: fit-content;
position: absolute;
left: 50%;
transform: translateX(-50%);
font-weight: bold;
margin-bottom: 50px;

}
.contact .order a{
    text-decoration: none;
    color: #19655b;
}

/* end contact */

/* start footer */
.foot{
    margin-top: 70px;
    padding: 50px 0;
    background-color: #19655b;
    color: white
}
.foot .caption{
    font-size: 20px;
    font-weight: bold;
}
.foot ul{
    list-style-type: none;
}
.foot ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
/* end footer */